:root {
    --cor-fonte: #0A3871;
    --cor-fundo: #f3f5fc;
    --cor-botao: #d8dfe8;
    --cor-hover: #0A3871;
    --cor-resposta: #343A40;
    --fonte-principal: 'Inter', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--cor-fundo);
    font-family: var(--fonte-principal);
}

header {
    margin-top: 5rem;
    width: 60%;
}

.principal {
    display: flex;
    justify-content: space-around;
}

.miolo {
    padding: 40px 0 0 240px;
    display: flex;
    flex-direction: column;
    height: 70vh;
}

.miolo__campo {
    font-size: 3.2rem;
    background-color: var(--cor-fundo);
    color: var(--cor-fonte);
    border: none;
    outline: none;
    margin-bottom: 3rem;
}

::placeholder {
    color: var(--cor-fonte);
}

.alerta__mensagem {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-size: 1.2rem;
    color: var(--cor-resposta);
    position: absolute;
    top: 600px;
    left: 240px; 
}

.miolo__botoes {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    position: absolute;
    top: 630px; 
    left: 240px; 
}

.miolo__botao {
    background: var(--cor-botao);
    color: var(--cor-hover);
    font-size: 1.6rem;
    padding: 1rem 2rem;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: 1px solid var(--cor-hover);
    font-weight: 600;
    cursor: pointer;
}

.miolo__botao:hover {
    background-color: var(--cor-hover);
    color: var(--cor-botao);
}

.caixa__resposta {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    height: 100vh ; 
    border-radius: 32px;
    max-width: 40rem;
    width: 90%; 
    
}

.resposta__conteudo {
    text-align: center;
}

.resposta__titulo {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--cor-resposta);
}

.resposta__instrucoes {
    font-size: 1.6rem;
    color: var(--cor-resposta);
    margin-top: 1rem;
}

.resposta__botao {
    background: var(--cor-botao);
    color: var(--cor-hover);
    font-size: 1.6rem;
    padding: 1rem 2rem;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: 1px solid var(--cor-hover);
    cursor: pointer;
    margin-top: 100%;
}

.resposta__botao:hover {
    background-color: var(--cor-hover);
    color: var(--cor-botao);
}

/* Mídia query para telas com largura menor ou igual a 768px */
@media (max-width: 768px) {
    .principal {
        flex-direction: column;
        align-items: center;
    }

    header {
        width: 100%;
        text-align: center;
        margin-top: 2rem;
    }

    .miolo {
        padding: 20px 0;
        height: auto;
        width: 90%;
    }

    .caixa__resposta {
        width: 90%;
        height: auto;
        margin-top: 2rem;
    }
    
    .alerta__mensagem {
        top: auto;
        left: auto;
        position: relative;
        transform: none;
        margin-top: 2rem;
    }

    .miolo__botoes {
        top: auto;
        left: auto;
        position: relative;
        margin-top: 16px;
    }

    .caixa__resposta img {
        display: none;
    }
}
