@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900');

:root {

    --fonte: 'Inter', sans-serif;
    --cor-fonte: #0A3871;
    --cor-fundo: #f3f3fb;
    --cor-nota-rodape: #45565F;

    

}

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color:var(--cor-fundo);    
}

.cabecalho{
    padding: 40px 0 40px 40px;
}
.principal{
    display: flex;
}
.miolo{
    padding: 0 0 0 240px;
    display: flex;
    flex-direction: column;
    
    
}
.miolo_campo{
    font-family: var(--fonte);
    font-weight: 400;
    font-size: 32px;
    color: var(--cor-fonte);
}

#spaced-item{
    margin-top: 635px;
}

.miolo_frame_1{
    font-family: var(--fonte);
    font-weight: 400;
    font-size: 12px;
    color: var(--cor-nota-rodape);
}



.miolo_frame_3{
    display: flex;
    gap: 24px;
    font-family: var(--fonte);
    font-weight: 400;
    font-size: 16px;
    color: var(--cor-fonte);
}